* {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: rgb(159, 211, 211); */
 
}
body{
  background-image: url('https://wallpaperaccess.com/full/473140.jpg');
  background-size: cover;
}
.main {
  width: 500px;
  padding: 10px;
  margin: auto;
  
}
 input {
  padding: 10px;
  margin: 8px;
  font-size: 20px;
  width: 300px;
  border: 2px solid gray;
  border-radius: 10px;
  color: royalblue;
  background: none;
 
}

.btn {
  background-color: blue;
  color: white;
  font-size: 20px;
  border: 1px solid blue;
  border-radius: 10px;
  background: none;

  
}
li {
  padding: 10px;
  margin-bottom: 5px;
  border-bottom: 1.5px solid grey;
}
.head{
  color: blue;
}
.label {
  font-size: 0.7em;
  color: grey;
}
